---
import Layout from "../layouts/Layout.astro"
import { getAllBlogs } from "../repository/microcmsRepository";
import BlogPost from "../components/BlogPost.astro";
import BreadCrum from "../components/BreadCrum.astro"

const res = await getAllBlogs({ fields: ["id", "title", "createdAt", "url"] });
---

<Layout>
  <div class="h-[300px]">
    <BreadCrum currentPath='Blog' />
    <ul class="list-none mt-10 text-left w-3/4 mx-auto">
      {res.contents.map((blog: any) => <BlogPost blog={blog} />)}
    </ul>
  </div>
</Layout> 