---
import Layout from "../layouts/Layout.astro";
---

<Layout title="おーせのテックブログ | home">
  <h1>おーせのテックブログへようこそ</h1>
  <p>
    Hi, I'm ooooose, a software engineer from Japan. I'm a fan of
    technologies, programming, and design. I'm also interested in blockchain and
    metaverse. You can read my blog with a click on the button above.
  </p>
</Layout>
