---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="h-[400px]">
    <div class="text-left max-w-[600px] mx-auto">
      <div class="mb-4">
        <h1 class="text-extrabold">おーせ</h1>
        <p>サーバーサイドエンジニア</p>
      </div>
      <p>
        都内受託企業でwebエンジニアをやっています。<br />
        個人開発のほかにも読書、バドミントンが趣味です。<br />
      </p>
    </div>
  </div>
</Layout> 