---
import SocialLinks from "./SocialLinks.astro"
---

<footer class="mx-auto max-w-screen-sm flex justify-between border-t border-gray-300 pt-2">
  <div class="leading-[50px] text-sm">
    Copyright © 2024
     | 
    All rights reserved.
  </div>
  <SocialLinks />
</footer>