---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header class="bg-blue-400 text-white w-full">
  <nav class="max-w-screen-lg mx-auto">
    <Hamburger />
    <Navigation />
  </nav>
</header>