---
import IconImage from '../assets/images/icon.png'

---

<div class="inline-block mt-10 mb-5">
  <img src={IconImage.src} alt="おーせのアイコン"  width="80" height="80" class="border-2 border-gray-300 rounded-full" />
  <h3 class="mt-2 font-bold">おーせ</h3>
</div>