---
---

<div class="ml-5 flex gap-5 font-bold h-[50px] leading-[50px]">
  <a href="/blog" class="hover:text-blue-300 cursor-pointer px-2">Blog</a>
  <a href="/about" class="hover:text-blue-300 cursor-pointer px-2">About</a>
</div>