---
import Icon from './Icon.astro'
import BreadCrum from './BreadCrum.astro'
---
<main class="min-h-[500px]">
  <div class="h-[300px]">
    <BreadCrum currentPath='About' />
    <Icon />
    <div class="text-center max-w-[600px] mx-auto">
      <p>
        都内受託企業でwebエンジニアをやっています。<br />
        個人開発のほかにも読書、バドミントンが趣味です。<br />
      </p>
    </div>
  </div>
</main>
